@media only screen and (max-width: 710px){  
    .hero-img{   
      top: 0px;   
    }
    .btnMenuLateral{
      align-self: end;
      display: block;    
      z-index: 10;      
      width: 1.8em;
      cursor: pointer;
    }
    .btnCerrarNav{     
      display: block;
      width: 2em;
      margin: 2em;
      float: right;    
      cursor: pointer;
    }
    .opciones{
      flex-direction: column;
      gap: 20px;
    }
  
    .negocio-tarjeta{
      width: 170px;
    }
  
    .formulario{
      flex-direction: column;
      align-items: center;    
      padding-left: 0px;
      padding-right: 0px;
      gap: 50px;
    }
    .mensaje{
      display: flex;
      flex-direction: column;    
      gap: 12px;
      width: 50%;
      box-sizing: border-box;
    }
  
    /* Menú lateral*/
    nav{    
    position: fixed;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 50%;
    z-index: 20;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    }
    nav ul{
      display: flex;
      flex-direction: column;
      margin: 20px;
      margin-top: 100%;
    }
    footer{
      justify-content: center;
    }
    .navbar2{
      display: none;
    }
  
  }